/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #D27568;
  --f7-theme-color-rgb: 239, 144, 12;
  --f7-theme-color-shade: #D27568;
  --f7-theme-color-tint: #f5a22f;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 239;
  --g: 144;
  --b: 12;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/*index page  */
.title-large {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login-popup{
 background-color:  #D27568;
}

#firebaseui-auth-container{
 margin-top: 18%;
}

#popupText {
margin: auto;
text-align: center;
margin-top: 10%;
  font-size: 24px;
font-family: monospace;

}

#time {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: auto;
  margin-top: 40px;
  font-size: 20px;
 
}

.card  {

box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}

#imageId{
  width: 100%;

}

.button{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;

}

.list {
  padding-top: 5%;
}

@media screen and (min-width: 700px) and (orientation: landscape) {
  #sandwichCard {
    display: inline-block;
    position: relative;
margin-left: 30%;
   width: 40%;
   height: 40%;
  

   
  }

}

#imageId{
  max-width: 100%;
  max-height: 100%;
}

.detailsInfo{
  color: grey;
}

#userImage{
  border-radius: 50%;
 margin-left: 38%;
 margin-top: 2px;
}

#btnAddSandwich{
  margin-top: 15px;
}

#quantityP{
  margin-top: -20px;

position: absolute;
}

.stepper-input-wrap{
margin-top: 5px;

}



